<!DOCTYPE html>
<html lang="en">
<head>
    <% include HeaderAndFooter/head.ejs%>
     <script src="/sweet-alert.js"></script>
      <link href="/sweet-alert.css" rel="stylesheet" />
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
       <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
       </script>
       <style type="text/css">
            .ml-6 {
                padding-left: 3em;
            }
        </style>
</head>

<script>

$( document ).ready(function() {
console.log( "ready!" );






});
</script>


<body data-sidebar-color="sidebar-light" class="sidebar-light">
    <!-- Header start-->
    <header>
      <div class="search-bar closed">
        <form>
          <div class="input-group input-group-lg">
            <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
              <button type="button" class="btn btn-default search-bar-toggle"><i class="ti-close"></i></button></span>
          </div>
        </form>
      </div><a href="mem" class="brand pull-left">
        <h2>Connected</h2></a><a href="javascript:;" role="button" class="hamburger-menu pull-left visible-xs"><span></span></a>
      <form class="search-form pull-left hidden-xs">
    
      </form>

    </header>
    <!-- Header end-->
    <div class="main-container">
      <!-- Main Sidebar start-->
      <aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
        <div class="user">
          <div id="esp-user-profile" data-percent="65" style="height: 104px; width: 104px; line-height: 80px; padding: 12px;" class="easy-pie-chart"><img src="/images.png" alt="" class="avatar img-circle"></div>
          <h4 class="fs-14 text-muted mt-15 mb-5 fw-300">Connected</h4>
          <p class="fs-13 mb-0 text-muted">Admin</p>
        </div>
        <ul class="list-unstyled navigation mb-0">
          <li class="sidebar-header pt-0">Main</li>
          

          <li id="memberidsnew" ><a href="mem" class="bubble"><i class="ti-user"></i> Members</a></li>
        

          <li><a href="news" class="bubble"><i class="ti-notepad"></i> News</a></li>

      
        <li><a href="events" class="bubble"><i class="ti-star"></i> Events</a></li>
     

                 <li><a href="eventtype" class="bubble"><i class="ti-tag"></i>Event Types</a></li>
             <!--     <li><a href="category" class="bubble"><i class="ti-package"></i>Category</a></li> -->
                    <li><a href="logout" class="bubble"><i class="ti-power-off"></i>Logout</a></li>
           </ul>
      
      </aside>
    </div>
      <!-- Main Sidebar end-->
      <div class="page-container">
        <div class="page-header clearfix">
          <div class="pull-left">
            <h4 class="mt-0 mb-5">ADMIN</h4>
            
          </div>
    
        </div>
   
      </div>
   
      <% include HeaderAndFooter/footer.ejs%>
  </body>


