<!DOCTYPE html>
<html lang="en">
<head>
<script src="/sweet-alert.js"></script>
      <link href="/sweet-alert.css" rel="stylesheet" />
      <link href="/loading.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>      
      <script src="/categorys.js"></script>

      <style>
       .smwidth{
         width: 60%;
         margin: auto;
       }
      </style>
      <style>
        .alignclass{
           margin-left: 35%;
          
        }
      </style>

</head>
  <% include /base.ejs%>
<body>



    <!-- Start preloading -->
   <div id="loading" class="loading-invisible">
       <div class="loading-center">
          <div class="loading-center-absolute">
               <img class="object"  src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif" alt="loading">
          </div>
      </div>
</div>


<script type="text/javascript">
  document.getElementById("loading").className = "loading-visible";
  var hideDiv = function(){document.getElementById("loading").className = "loading-invisible";};
  var oldLoad = window.onload;
  var newLoad = oldLoad ? function(){hideDiv.call(this);oldLoad.call(this);} : hideDiv;
  window.onload = newLoad;
</script>
  

 <div  class="formspacing" >
<form>
 <div class="row">
  <div class="widget-body">
    <div class="widget">
      <div class="widget-heading">
        <h3 class="widget-title">Add Category</h3>
      </div>
      <div class="widget-body">



              <div class="form-group">
                  
                  <div class="col-sm-12">
                      <label for="textInputHor" class="col-sm-0 control-label">Name</label>
                    <input id="textCategoryName"  type="text" class="form-control">
                  </div>
                </div>
      
                <!-- <div class="form-group">
                  <label for="textInputHor" class="col-sm-3 control-label">Code</label>
                  <div class="col-sm-9">
                    <input id="textCategoryId" type="text" class="form-control">
                  </div>
                </div> -->
        
                   <div class="row">
      
                       <div class="col-md-12">
                               <div class="text-right" style="margin-top:10px;margin-right: 10px;">
                              
                                      <button type="submit"  id="sumbitbutton" class="btn btn-outline btn-success ">Submit</button>.
                               </div>
                       </div>
      
                   </div>
                <!-- <button type="reset" class="btn btn-outline btn-black">Reset</button> -->

          
         
      
       

      </div>
    </div>
  </div>

</div>


</form>


<div class="row">

    <div class="widget-body">
        <table id="categoryDatatable" cellspacing="0" width="100%" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">Code</th>
      
              <th class="text-center">Name</th>
      
              <th class="text-center center-block">Action</th>
            </tr>
          </thead>
      
        
        </table>
      </div>

</div>


</div>







</body>

</html>
