<!DOCTYPE html>
<html lang="en">
<head>
<script src="/sweet-alert.js"></script>
<link href="/sweet-alert.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>      
<script src="/eventtype.js"></script>
<link href="/loading.css" rel="stylesheet" />

<style>
  .alignclass{
     margin-left: 18%;
    
  }
</style>

<style>
  
 
   .imagefitcover{
    object-fit: cover;
    height: 100px;
   }
   imagefixedheight{
     height: 100px;
   }
 </style>
</head>
  <% include /base.ejs%>
<body>




    <!-- Start preloading -->
   <div id="loading" class="loading-invisible">
       <div class="loading-center">
          <div class="loading-center-absolute">
               <img class="object"  src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif" alt="loading">
          </div>
      </div>
</div>

<div class="modal" style="display: none">
    <div class="loading-center-absolute">
        <img alt="" src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif" />
    </div>
</div>

<script type="text/javascript">
  document.getElementById("loading").className = "loading-visible";
  var hideDiv = function(){document.getElementById("loading").className = "loading-invisible";};
  var oldLoad = window.onload;
  var newLoad = oldLoad ? function(){hideDiv.call(this);oldLoad.call(this);} : hideDiv;
  window.onload = newLoad;
</script>

 <div  class="formspacing" >
<form>
  <div class="widget-body">
    <div class="widget-body">
         <!--  <form class="form-horizontal"> -->
         <div class="row">
            <div class="col-md-12">
               <div class="widget">
                  <form>
                       <div class="widget-heading">
                           <h3 class="widget-title">Event Types</h3>
                       </div>
                      <div class="row">
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="txtMovieTitle">Event Title</label>
                            <input id="name" type="text" class="form-control">
                        </div>
                      </div>

                   
                      <div class="col-md-12">
                        <div class="form-group">
                       
                          <input id="imagefile" name="upfile" type="file" multiple="" class="file-loading">
                               
                        </div>
                        <div>
                          
                        
                      </div> 
                    </div>

                    <div class="col-md-5 imagefixedheight">
                      <img src="" id="memberimagesrc"  style="width:60%" class="imagefitcover">
                  </div>




                       <div class="row">

                          <div class="col-md-12">
                            <div  class="text-right" style="margin-bottom:10px;margin-right: 15px;">
                                <div class="text-right">

                                                      <button type="rest" id="resetbutton" class="btn btn-outline btn-danger">Reset</button>


                                                      
                                                    <button type="submit" id="sumbitbutton" class="btn btn-outline btn-success">Submit</button>
                                                   
                                                </div>
                            </div>
                              

                          </div>

                       </div>
                        <div >
                         <!-- <button type="submit" id="uploadbutton" class="btn btn-outline btn-success">Submit</button> -->
                       </div>

                
                 
                  </form>
               </div>
            </div>
         </div>
                </div>
</form>
<div class="widget-body">
  <table id="memberDatatable" cellspacing="0" width="100%" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Code</th>
        <th class="text-center">Name</th>
        <th class="text-center">Image</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
  </table>
</div>
</div>
</body>
</html>
