<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connected - By Intellyze Login</title>
    <!-- PACE-->
    <link rel="stylesheet" type="text/css" href="../plugins/PACE/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="../plugins/PACE/pace.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../plugins/themify-icons/themify-icons.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="../build/css/second-layout.css">
   
  </head>


  <script src="/sweet-alert.js"></script>
  <link href="/sweet-alert.css" rel="stylesheet" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>

  
        <script type="text/javascript">
            $(function(){               
               $('#signin_button').click(function(e) {
                    e.preventDefault();
                    console.log('Load_button clicked');
                    var data = {};

                    var username=   $('#txtUser').val();
                                        var passwordtext=   $('#txtEmail').val();
                                        
                    data.phonenumber= username; //input
                    data.password= passwordtext; //input

                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data), //input data to be sent to the server
                        contentType: 'application/json',
                        url: '/api/authenticate',                        
                        success: function(res) {
                            console.log('success');
                            console.log(res);

                            var message=res.message
                                            var status=res.status
                                console.log("Message"+message);
                                console.log("status"+status);
                                if (status) {

                                    
window.location.href = "/mem";


                                        // swal("Login", message, "success");

                                }
                                else
                                {
 swal("Oops", message, "error");

                                }

                             
                            $("#demo").html(res);  //summation displayed in the HTML page   
                        }
                    });

                });             
            });



        </script>


     <script src="http://tristanedwards.me/u/SweetAlert/lib/sweet-alert.js"></script>
<link href="http://tristanedwards.me/u/SweetAlert/lib/sweet-alert.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <body style="background-image: url(../build/images/backgrounds/16.jpg)" class="body-bg-full">
    <div class="container page-container">
      <div class="page-content">
        <div class="logo"><i class="ti-underline"></i></div>
        <form   class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" id="txtUser"  placeholder="Username" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input type="password"  id="txtEmail" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="checkbox-inline checkbox-custom pull-left">
                <input id="exampleCheckboxRemember" type="checkbox" value="remember">
                <label for="exampleCheckboxRemember" class="checkbox-muted text-muted">Remember me</label>
              </div>
              <!-- <div class="pull-right"><a href="forgot.html" class="inline-block form-control-static">Forgot  Passowrd?</a></div> -->
            </div>
          </div>
          <button type="submit"  id="signin_button"  class="btn-lg btn btn-primary btn-rounded btn-block">Sign in</button>
        </form>
      
      </div>
    </div>
    <!-- Demo Settings start-->
    <div class="setting closed"><a href="javascript:;" class="setting-toggle fs-16"><i class="ti-palette text-white"></i></a>
      <h5 class="fs-16 mt-0 mb-20 text-white">Background Images</h5>
      <ul class="list-inline">
        <li><a href="javascript:;" data-bg="14.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/14.jpg" width="60" alt="" class="img-rounded"></a></li>
        <li><a href="javascript:;" data-bg="15.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/15.jpg" width="60" alt="" class="img-rounded"></a></li>
        <li><a href="javascript:;" data-bg="16.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/16.jpg" width="60" alt="" class="img-rounded"></a></li>
      </ul>
      <ul class="list-inline mb-0">
        <li><a href="javascript:;" data-bg="17.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/17.jpg" width="60" alt="" class="img-rounded"></a></li>
        <li><a href="javascript:;" data-bg="18.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/18.jpg" width="60" alt="" class="img-rounded"></a></li>
        <li><a href="javascript:;" data-bg="19.jpg" class="inline-block body-bg"><img src="../build/images/thumbnails/19.jpg" width="60" alt="" class="img-rounded"></a></li>
      </ul>
    </div>
    <script type="text/javascript" src="../plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="../build/js/second-layout/extra-demo.js"></script>
  </body>
</html>
